body{
  font-family: 'Baloo Bhai 2', cursive;
}
h1{
  font-family:font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
}
p{
  color: #8f8f8f;
}
.logo{
font-family: 'Ubuntu', sans-serif;
font-size: 2.5rem;
font-weight: bold;

}

/* title section */

#title{
  color: #fff;
  background-color: #ff4c68;
}
.title-item{
  padding: 5% 1% 15%;
}
.title-image{
  width: 30%;
  transform:rotate(25deg);
  position: absolute;
  right: 20%;
}


/* navbar section */
.container-fluid{
  padding: 1% 10% 5%;
}


.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.5rem;

}

/* buttons */
.download-button{
  margin: 2% 5% 2% 0;
}


/* feature section */

#features{
  padding: 7% 10%;
  background-color: #fff;
  position:  relative;
}
.feature-box{
  text-align: center;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

/* testinomial section */
#testimonials{

  text-align: center;
  background-color:#ef8172;
   color: #fff;
}
.carousel-item{
    padding: 7% 12%;
}
.testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 10px;
}
/* press section */
#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 10px;
}
.press-logo{
  padding: 20px 20px 50px;
  width:  15%;
}

/* pricing section */
#pricing{
  padding: 8%;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;

}
/* cta section */

#cta{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 3%
}

/* footer section */
#footer{
  text-align: center;
  padding: 3% 10%
}
.social-icon{
  margin: 1%;
}


/* media quesry */
@media (max-width:1026px) {

.title-image{
  position: static;
  transform: rotate(0deg);
}
#title{
  text-align: center;
}

}
